{% comment %} 
Inputs:
a: list of either activities or assessments
type: either 'activity' or 'assessment' to differtiate which it is
{% endcomment %}

{% if a %}
    <div class='{{ type }}'>
        <b>{{ type|capfirst }}</b>
        <ul>
            {% for item in a %}
                <li>
                    {% if type == 'assessment' %}
                        {{ item.assessment }}
                    {% elif type == 'activity' %}
                        {{ item.learning_activity }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}