{{objective.objective}}

{% comment %} Same template is used for assessments and activities.
Differentiated by the type variable. {% endcomment %}
{% include './assessment_or_activity.html' with a=objective.assessments.all type='assessment' %}
{% include './assessment_or_activity.html' with a=objective.learning_activities.all type='activity' %}

{% if objective.children %}
    {% for child in objective.children.all %}
        <ul class="objective">
            <li>
                {# This had to be an absolute path to get around a Django recursion exception #}
                {% include 'LearnObjPlanApp/objective.html' with objective=child %}
            </li>
        </ul>
    {% endfor %}
{% endif %}